[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fusionchartsR"]
	path = fusionchartsR
	url = https://github.com/alexym1/fusionchartsr
